
html, body {
    width: 100%;
   /* height: 100%;*/

    margin: 0;
    padding: 0;
}

body {
    position: relative;

   /* background-color: #C9DAF8;*/

    font-family: "open sans", arial , sans-serif;
    /*font-weight: 300;*/

    color: #424242;
    font-size: 16px;
   /* line-height: 1.2em;*/


    box-sizing: border-box;

    /*overflow: hidden;*/
}

.app-bar {
    /* a block-level container element */
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    width: 100%;
    height: 60px;

    /*flex items follow each other horizontally across the main axis*/
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;

    position: fixed;

    top: 0;
    left: 0;

    z-index: 100;

   /* background-color: #3C78D8;*/
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.app-bar.open {
    -webkit-transform: translate(-250px,0);
    transform: translate(-250px,0);
}

.app-bar .logo {
    /* flex-grow -> Number which determines how much the flex item will grow relative to the rest of the flex items in the
    flex container when positive free space is distributed. */
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;

    font-size: 20px;
    line-height: 60px;

    margin: 0 16px;
    color: #fff;
    /*color: #fefefe;*/
    /*float and clear have no effect on a flex item. Using float causes the display property of the element to compute to block.*/
    float: none;
    max-width: none; /*IE11 does not like a max-width to be set on any flex-item*/
}

.app-bar .logo a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
}
 /*
.app-bar-actions  {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}
*/
.app-bar button {
    width: 60px;
    height: 60px;

    background-image: none;
    background-color: transparent;

    border: none;

    padding: 0;

   /* -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;*/
}

.app-bar button img {
    width: 60px;
    height: 60px;
}

.app-bar button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
    background-color: rgba(255, 255, 255, 0.2);
    outline: 0;
}

.app-bar button:active {
    background-color: rgba(255, 255, 255, 0.4);
}
/*
.search {
    display: none;

    width: 400px;
    height: 60px;

    padding: 16px;
    margin: 0;

    box-sizing: border-box;

    border: none;

}

.promote-layer {
    */
/*
    This is a trick to improve performance on newer versions of Chrome
    #perfmatters
    *//*

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@media all and (min-width: 1200px) {

    body {
        padding: 16px;
    }

    .app-bar {
        display: block;

        height: 130px;

        padding: 0 16px;
        margin-bottom: 16px;

        box-sizing: border-box;

        background-color: transparent;
    }

    .app-bar .logo {
        float: left;

        margin: 0;

        font-size: 100px;
        line-height: 130px;
    }

    .app-bar-actions {
        float: right;

        margin: 35px 0;
    }

    .app-bar:after {
        content: ' ';

        display:block;
        height: 0;
        overflow: hidden;

        clear: both;
    }

    .search {
        display: block;

        padding-left: 16px;
    }

    button.menu {
        display: none;
    }

    nav {
        display: block;

        margin-top: 130px;
    }
}
*/
.navdrawer-container {
    position: fixed;

    width: 250px;
    height: 100%;

    right: 0;
    top: 0;
   /* background-color: #3C78D8;*/

    background-color: rgba(0, 0, 0, 0.7);
    color: #fefefe;

    z-index: 100;

    -webkit-transform: translate(250px,0);
    transform: translate(250px,0);
}

.navdrawer-container.open {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

.app-bar, .navdrawer-container {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}


.navdrawer-container ul {
   /* padding: 0;
    margin: 0;*/
    list-style-type: none;
}

.navdrawer-container ul li a {
    display: block;

    height: 60px;

    padding: 0 20px;

    line-height: 60px;

    text-decoration: none;

    color: white;

    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.navdrawer-container ul li {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: white;
}

.navdrawer-container ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: 0;
}

.navdrawer-container ul li a:active {
    background-color: rgba(255, 255, 255, 0.4);
}
/*
@media all and (min-width: 1200px) {
   .navdrawer-container {
       position: relative;

       width: 100%;
       height: auto;

       margin-top: 130px;

       -webkit-transform: none;
       tranform: none;

       -webkit-transition: none;
       transition: none;
   }
   .navdrawer-container ul {
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;

       -ms-flex-direction: row;
       -webkit-flex-direction: row;
       flex-direction: row;
   }

   .navdrawer-container ul li {
       border: none;
   }
}*/


 .nav-placeholder {
     margin-top: 60px;
 }

 /* carousel start */

/*#slides_control > div{
    height: 200px;
}
img{
    margin:auto;
    width: 400px;
}
#slides_control {
    position:absolute;
    width: 400px;
    left:50%;
    top:20px;
    margin-left:-200px;
}*/

/*  carousel end */

/* start : main */
main {
    width: 100%
}
/* end : main */

/* start : flex container */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
/* end : flex container */

/* start : flex contents */
.home-img{
    width: 100%;
    position: relative;
    background-image: url("./../../assets/img/home.jpg");
    background-size: cover;
    min-height: 300px;
}

.home-img article {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 1em;
}

.welcome {
    text-align: center;
    font-size: 30px;
    line-height: 42px;
    padding: 5px;
    font-weight: 300;
}

.snippet-list {
    padding: 1em;
}

.snippet-list ul, footer ul {
    list-style: none;
}
.snippet {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em 0;
}
.snippet-title {
    order: 0;
    width: 100%;
    font-weight: 500;
    margin: 0 0 0.5em 0;
}

.snippet-title a {
    text-decoration: none;
    color: inherit;
}

.snippet-thumbnail{
    order: 1;
    width: 30%;
}

.snippet-thumbnail > img {
    width: 100%;
}

.snippet-description {
    -webkit-line-clamp: 3;
    max-height: 4em;
    order: 2;
    width: 70%;
    margin: 0;
    padding: 0 0 0 1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}


/* end : flex contents */




footer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 60px;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.26);
}